<!DOCTYPE html>
<html lang="en">
  {% load static %}

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MedCia</title>

    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    integrity="sha512-..."
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />

    <!-- <script src="https://kit.fontawesome.com/bb9aca6d33.js" crossorigin="anonymous"></script> -->
    <!-- OPTIONAL: Icons
    <script src="https://unpkg.com/feather-icons"></script> -->
  </head>

  <body class="bg-gray-50 text-gray-900">
    {% if messages %}
    <div class="max-w-3xl mx-auto p-4">
      {% for message in messages %}
      <div class="mb-2 p-3 rounded {{ message.tags }}">{{ message }}</div>
      {% endfor %}
    </div>
    {% endif %}
    <!-- Desktop Sidebar -->
    <div
      class="hidden md:flex h-screen w-62 bg-white shadow-lg fixed top-0 left-0 flex-col p-6"
    >
      <h1 class="text-2xl font-bold text-blue-600 mb-8"><i class="fa-solid fa-pills fa-rotate-by fa-lg" style="color: #1e3f7b; --fa-rotate-angle: 55deg;"></i>MedCia</h1>

      <nav class="flex flex-col gap-4 text-lg">
        <a href="/" class="hover:text-blue-600"><i class="fa-solid fa-gauge-simple fa-lg" style="color: #255ab6;"></i> Dashboard</a>
        <a href="/add-medicine/" class="hover:text-blue-600"><i class="fa-solid fa-circle-plus fa-lg" style="color: #025ab6;"></i> Add Medicine</a>
        <a href="/reminders" class="hover:text-blue-600"><i class="fa-solid fa-bell fa-lg" style="color: #025ab6;"></i> Reminders</a>
        <a href="/profile" class="hover:text-blue-600"><i class="fa-solid fa-user fa-lg" style="color: #025ab6;"></i> Profile</a>
      </nav>
    </div>

    <!-- Mobile Bottom Nav -->
    <div
      class="md:hidden fixed bottom-0 left-0 right-0 bg-white shadow-lg flex justify-around py-3"
    >
      <a href="/" class="text-gray-700 flex flex-col items-center">
        <i data-feather="home"></i>
      </a>
      <a href="/add" class="text-gray-700 flex flex-col items-center">
        <i data-feather="plus-circle"></i>
      </a>
      <a href="/reminders" class="text-gray-700 flex flex-col items-center">
        <i data-feather="bell"></i>
      </a>
      <a href="/profile" class="text-gray-700 flex flex-col items-center">
        <i data-feather="user"></i>
      </a>
    </div>

    <!-- MAIN CONTENT AREA -->
    <div class="md:ml-64 p-6 pb-20">{% block content %} {% endblock %}</div>

    <script>
      feather.replace();
    </script>
    
    <!-- REMINDER MODAL -->
    <div
      id="reminderModal"
      style="
        display: none;
        position: fixed;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: white;
        padding: 20px;
        border: 2px solid black;
        z-index: 9999;
        text-align: center;
      "
    > 
      <p id="reminderText">Take Medication</p>
      <i class="fa-solid fa-clock-rotate-left fa-lg" style="color: #24385b;"></i>
      <button onclick="closeReminderModal()" >OK</button>
      <script src="{% static 'js/reminder_notifier.js' %}"></script>
    </div>
  </body>
</html>
